.div{
    border: 5px solid purple;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    width: 30%;
    display: inline-block;
    margin-left: 145px;
    margin-bottom: 30px;
}
.div p{
    text-align: justify;
}
.div h3{
    text-align: center;
}